.Home {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  overflow: hidden;
  overflow-x: scroll;
  text-align: center;
  width: auto;
}

.Home h3 {
  font-size: 512px;
  font-weight: bold;
}
